@model IEnumerable<QuanLyBanHang.Models.SanPham>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenSanPham)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaBanLe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kho)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HinhAnh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhanLoai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenSanPham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaBanLe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HinhAnh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhanLoai.PhanLoaiId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SanPhamId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SanPhamId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SanPhamId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
